$socialmedia-colors: (
    twitter: #55acee,
    pinterest: #CA2028,
    youtube: #F00000,
    foursquare: #0086BF,
    facebook: #3b5998,
    flickr: #ff0084,
    google: #dd4b39,
    instagram: #3f729b,
    linkedin: #007bb6,
    vimeo: #1ab7ea
);

@each $social, $value in $socialmedia-colors{
    .share .#{$social} a{
      background-color: $value;
      background-image: url('#{$i-folder}/share/#{$social}.svg'); 
    }
}
